{% extends "admin/admin_layout.html" %}

{% block title %}Newsletter Subscribers{% endblock %}
{% block page_title %}Newsletter Subscribers{% endblock %}

{% block content %}
<div class="log-table-container">
    <table class="log-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Subscribed On</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriber in subscribers %}
            <tr>
                <td>{{ subscriber.id }}</td>
                <td>{{ subscriber.email }}</td>
                <td>{{ subscriber.subscribed_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No subscribers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}